<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="is-fullheight">
        <div class="column is-4 is-offset-4">
            <div class="title has-text-centered">Sample App</div>

            <a href="{{ auth_url }}" class="button is-block is-info">
                <span class="icon"><i class="fab fa-windows"></i></span>
                <span>Login with Azure</span>
            </a>
        </div>
    </section>
</body>
</html>

